.salespersons-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}
.salesPersonbtn {
  width: 200px;
  height: 40px;
  color: #ffffff;
  border-radius: 8px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.salesperson-table-container {
  height: 60vh;
  overflow-y: scroll;
}
@media screen and (max-width: 400px) {
  .salesPersonbtn {
    width: 150px;
    font-size: 13px;
  }
}
.salesperson-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.salesperson-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.salesperson-view-btn {
  margin-bottom: 10px;
  background-color: #1d1a69;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: 40px;
}
.salesperson-main-heading {
  font-size: 35px;
  text-decoration: underline;
  color: #1d1a69;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .salesperson-main-heading {
    font-size: 20px;
  }
}
.salesperson-table {
  background-color: #ffffff;
  width: 100%;
}
